#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header {
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(250, 235, 215, 0.5);
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding-top: 1rem;
}


.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  width: 100%;
}



.logo {
  border-radius: 1.5rem;
  height: 7rem;
  padding: 1rem;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em teal);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
